<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	New Controller Feedback
    </div>
    <div style="font-size: 0.9rem;">
		Hello, <br /><br />
		New Feedback has been received.. Please head over to the feedback dashboard on <a href="https://zmaartcc.net/admin/feedback">the website</a> to review.
		<br /><br />
		<div>
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">Controller CID:</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right;">{{controllerCid}}</div>
			</div>
			<div style="width: 100%; display: flex;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">Submitter Name:</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right">{{name}}</div>
			</div>
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">Comments:</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right">{{comments}}</div>
			</div>
		</div>
		<br /><br />Sincerely,<br />The ZMA Staff Team
	</div>
</div>
