<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Training Request Taken
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{student}}, <br /><br />
		Your training request for <b>{{startTime}}z</b> until <b>{{endTime}}z</b> has been taken by <b>{{instructor}}</b>. Please arrive to your training session at least 5 minutes early.<br /><br />
		This training session will be conducted on the Miami ARTCC TeamSpeak. If you need the details for our TeamSpeak, please reach out to the Training Team at training@zmaartcc.net.<br /><br />
		If you need to cancel this session, please do so through the Miami ARTCC website by clicking <a href="https://zmaartcc.net/dash/training">here</a>. <br/><br/>
		We are looking forward to your training session.<br /><br />
		Sincerely,<br />The ZMA Training Team
	</div>
</div>
