<div
  style="
    padding: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  "
>
  <div style="font-size: 1.2rem; font-weight: bold; margin-bottom: 20px">
    Visiting Application Accepted
  </div>
  <div style="font-size: 0.9rem">
    <b>Greetings {{name}},</b><br /><br />

    <div>
      On behalf of the entire Miami ARTCC, welcome to the ARTCC in sunny south
      Florida! We are happy that you are here and we cannot wait to get you
      started. Your application as a visiting controller has been
      <css style="color: green; font-weight: bold">accepted.</css>
    </div>
    <br />

    <div style="color: red; font-weight: bold">
      If you are a controller transferring to the Miami ARTCC 
      with a well-earned VATSIM rating, it is important to note that you 
      are automatically authorized to control any position (up to your rating) 
      that is NOT designated as a Tier 1 or Tier 2 position.<br/><br/>

      What are the Tier 1 and Tier 2 positions?<br/>
      Tier 1: MIA_DEL, MIA_GND, MIA_APP, and ZMO_CTR (Miami Oceanic)<br/>
      Tier 2: FLL_DEL, FLL_GND, FLL_TWR, TPA_DEL, TPA_GND, TPA_TWR, TPA_APP. and MIA_CTR (Domestic Center)<br/>
    </div>
    
    <br /><br />

    <b>Let's get right to it, shall we?!</b><br />

    <ol>
      <li>
        You can connect to the Miami ARTCC TeamSpeak server by using
        <b>teamspeak.zmaartcc.net</b> and the password is <b>ILoveZMA</b>
      </li>
      <li>
        You are encouraged to join the Miami ARTCC Discord by using this
        invitation:
        <a href="https://vats.im/zma/discord">https://vats.im/zma/discord</a>
        (After you join, please use the /giveroles command in the #check-in-lobby 
        channel to automatically assign your roles and access).
      </li>
    </ol>

    Please become familiar with our Standard Operating Procedures which can be found
    on the Miami ARTCC website under "Files" -> "Downloads". You can learn about our Training
    Programs and the processes to obtain Tier 1 and Tier 2 certifications 
    under our ZMA D1 SOP.

    <br /><br />

    If you encounter any issues or have any questions, you are encouraged to
    reach out to the Miami ARTCC Training Team at
    <a href="mailto:training@zmaartcc.net">training@zmaartcc.net</a>. Please send your
    questions via e-mail because most of the training team does not receive Discord 
    messages due to the high volume of messages we receive. <br /><br />

    We are excited to have you and we look forward to controlling with you!<br /><br />

    Sincerely, <br />

    <b>Dan Leavitt</b><br />
    Air Traffic Manager<br />
    <a href="mailto:atm@zmaartcc.net">atm@zmaartcc.net</a><br />
    <br />
    <b>Jason Cochran</b><br />
    Deputy Air Traffic Manager<br />
    <a href="mailto:datm@zmaartcc.net">datm@zmaartcc.net</a><br />
    <br />
    <b>Alex Handsaker</b><br />
    Training Administrator<br />
    <a href="mailto:ta@zmaartcc.net">ta@zmaartcc.net</a><br />
    <br />
  </div>
</div>

