<div
  style="
    padding: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  "
>
  <div style="font-size: 1.2rem; font-weight: bold; margin-bottom: 20px">
    Visiting Application Accepted
  </div>
  <div style="font-size: 0.9rem">
    <b>Greetings {{name}},</b><br /><br />

    <div>
      On behalf of the entire Miami ARTCC, welcome to the ARTCC in sunny South
      Florida! We are happy that you are here and we cannot wait to get you
      started. Your application as a visiting controller has been
      <css style="color: green; font-weight: bold">accepted.</css>
    </div>
    <br />

    <div style="color: red; font-weight: bold">
      While you possess a well-earned VATSIM rating, you are not certified to
      control any positions with the Miami ARTCC. Please do not log in to any
      Miami ARTCC control positions.
    </div>
    <br />

    <b>Let's get right to it, shall we?!</b><br />

    <ol>
      <li>
        You can connect to the Miami ARTCC TeamSpeak server by using
        <b>teamspeak.zmaartcc.net</b> and the password is <b>ILoveZMA</b>
      </li>
      <li>
        You are encouraged to join the Miami ARTCC Discord by using this
        invitation:
        <a href="https://vats.im/zma/discord">https://vats.im/zma/discord</a>
      </li>
      <li>
        You must complete a GRP Competency Check within 30 days of this email.
        To complete this, please submit your availability as a Training Request
        on the Miami ARTCC website and use "GRP Competency Check" as the
        milestone.
      </li>
    </ol>

    It is also a fantastic idea to read the Miami ARTCC Standard Operating
    Procedures, especially the ZMA ARTCC D1 SOP. You can find this on the Miami
    ARTCC under "Files" -> "Downloads".<br /><br />

    If you encounter any issues or have any questions, you are encouraged to
    reach out to the Miami ARTCC Training Team at
    <a href="mailto:training@zmaartcc.net">training@zmaartcc.net</a>. We also
    have some Frequently Asked Questions (FAQs) that you can read by clicking
    <a href="https://zmaartcc.net/controllers/TrainingFAQ">here</a>.<br /><br />

    We are excited to have you and we look forward to controlling with you!<br /><br />

    Sincerely, <br />

    <b>Dan Leavitt</b><br />
    Air Traffic Manager<br />
    <a href="mailto:atm@zmaartcc.net">atm@zmaartcc.net</a><br />
    <br />
    <b>Jason Cochran</b><br />
    Deputy Air Traffic Manager<br />
    <a href="mailto:datm@zmaartcc.net">datm@zmaartcc.net</a><br />
    <br />
    <b>Alex Handsaker</b><br />
    Training Administrator<br />
    <a href="mailto:ta@zmaartcc.net">ta@zmaartcc.net</a><br />
    <br />
  </div>
</div>

